<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <img class="imagen" src="../assets/implementos.png" alt="implementos">
  <div class="container">
    <div class="formulario">
      <h2>Crear una cuenta</h2>
      <!-- <div class="button_container"> -->
      <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"> -->
        <form [formGroup]="registerForm">
        <mat-form-field appearance="outline">
          <mat-label class="form">Nombre de usuario</mat-label>
          <input matInput formControlName="name" placeholder="Nombre de usuario">
          <mat-error>{{ getErrorMessage('username') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label class="form">Correo electrónico</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Correo electrónico">
          <mat-error>{{ getErrorMessage('email') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label class="form">Contraseña</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Contraseña">
          <mat-error>{{ getErrorMessage('password') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label class="form">Confirmación</mat-label>
          <input matInput formControlName="confirmpassword" type="password" placeholder="Confirmación">
          <mat-error>{{ getErrorMessage('confirmpassword') }}</mat-error>
          <mat-error>{{ getPasswordMismatchError() }}</mat-error>
        </mat-form-field>

        <section class="check">
          <mat-checkbox class="check" formControlName="acceptTerms" color="primary">Acepto los términos y condiciones
            del servicio</mat-checkbox>
        </section>

        <div class="button_container">
          <button class="mi-boton-regi" type="submit" (click)="onSubmit()" mat-flat-button color="accent">Registrarme</button>
          <button class="mi-boton-log" (click)="gotoLogin()" mat-stroked-button color="stroked">Ya tengo una cuenta</button>
        </div>
      </form>
      <!-- <div class="button_container">
        <button class="mi-boton-log" mat-stroked-button color="stroked">Ya tengo una cuenta</button>
      </div> -->
    </div>
  </div>

</body>


</html>